.env
*.pem
*.key
*.pub
**/network_config/cwallet.sso
**/network_config/ewallet.p12

airflow/logs/
airflow/plugins/
*.db
*.pid

__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.pytest_cache/

.vscode/
.idea/
.DS_Store
*.log